<!-- for PC -->
<div class="d-none d-sm-block">
	<div class="container-fluid bk-container"></div>
</div>

<div class="d-block d-sm-none" [formGroup]="playerForm">
	<div class="container-fluid bk-container">
		<div class="row">
			<div class="col-12">
				<h4 class="ta-c mt-4 mb-4">Seleccion de Personajes</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-4 ta-r">
				<img class="image-position-none" src="../assets/player1.png" >
			</div>
			<div class="col-4 ta-c">
				<img class="image-position-none" src="../assets/player2.png" >
			</div>
			<div class="col-4 ta-l">
				<img class="image-position-none" src="../assets/player3.png" >
			</div>
		</div>
		<div class="row">
			<div class="col-4 ta-r">
				<img class="image-position-none" src="../assets/player4.png" >
			</div>
			<div class="col-4 ta-c">
				<img class="image-position-none" src="../assets/player5.png" >
			</div>
			<div class="col-4 ta-l">
				<img class="image-position-none" src="../assets/player6.png" >
			</div>
		</div>
		<div class="row">
			<div class="col-4 ta-r">
				<img class="image-position-none" src="../assets/player7.png" >
			</div>
			<div class="col-4 ta-c">
				<img class="image-position-none" src="../assets/player8.png" >
			</div>
			<div class="col-4 ta-l">
				<img class="image-position-none" src="../assets/player9.png" >
			</div>
		</div>
		<div class="row">
			<div class="col-12 mb-4 mt-4">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
					</div>
						<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" formControlName="name">
				  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 btn-ready">
				<button type="button" class="btn btn-light btn-lg btn-block" [disabled]="!teamApplicationForm.valid" (click)="add()">Listo</button>
			</div>
		</div>
	</div>		
</div>
