<!-- for PC -->
<div class="d-none d-sm-block">
	<div class="container-fluid bk-container">
		<!-- <div class="row pos-fix mt-2 bk-player">
			<div class="col-4"></div>
			<div class="col-1 ta-c">
				<img class="nv-image-position" src="../assets/player.png" >
			</div>
			<div class="col-1 ta-c">
				<img class="nv-image-position" src="../assets/player.png" >
			</div>
			<div class="col-1 ta-c">
				<img class="nv-image-position" src="../assets/player.png" >
			</div>
			<div class="col-1 ta-c">
				<img class="nv-image-position" src="../assets/player.png" >
			</div>
			<div class="col-4"></div>
		</div> -->
		<div class="row mt-4">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/dibujo.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/comodin.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/dibujo.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4 ta-r">
				<img class="image-position" src="../assets/masculino.png" >
			</div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/aleatorio.png" >
			</div>
			<div class="col-4 ta-l">
				<img class="image-position" src="../assets/femenino.png" >
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/dibujo.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/comodin.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/dibujo.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4 ta-r">
				<img class="image-position" src="../assets/masculino.png" >
			</div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/aleatorio.png" >
			</div>
			<div class="col-4 ta-l">
				<img class="image-position" src="../assets/femenino.png" >
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/dibujo.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/comodin.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/dibujo.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4 ta-r">
				<img class="image-position" src="../assets/masculino.png" >
			</div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/aleatorio.png" >
			</div>
			<div class="col-4 ta-l">
				<img class="image-position" src="../assets/femenino.png" >
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/dibujo.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/comodin.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/dibujo.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4 ta-r">
				<img class="image-position" src="../assets/masculino.png" >
			</div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/aleatorio.png" >
			</div>
			<div class="col-4 ta-l">
				<img class="image-position" src="../assets/femenino.png" >
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/dibujo.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/comodin.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/dibujo.png" >
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row">
			<div class="col-4 ta-r">
				<img class="image-position" src="../assets/masculino.png">
			</div>
			<div class="col-4 ta-c">
				<img class="image-position" src="../assets/aleatorio.png">
			</div>
			<div class="col-4 ta-l">
				<img class="image-position" src="../assets/femenino.png">
			</div>
		</div>
	</div>
</div>